nav.navbar.navbar-default.navbar-fixed-top
			.container-fluid
				#logo.col-sm-6
					a(href='/')
					img(src='images/dc_roasters.png')
				#buttons.col-sm-6.text-right
					a(href="/login")
						button.btn.btn-primary(type="submit") Log In
					a(href="/register")
						button.btn.btn-primary(type="submit") Register