/* line 1, ../../compass/sass/_nav.scss */
.navigation-bar {
  height: 80px;
  background-color: #284741;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  float: left;
  border: none;
}

/* line 12, ../../compass/sass/_nav.scss */
.navbar {
  background-color: #284741;
  border: none;
}
/* line 15, ../../compass/sass/_nav.scss */
.navbar button {
  background-color: #284741;
  border: none;
  color: white;
}
/* line 20, ../../compass/sass/_nav.scss */
.navbar button:hover {
  background-color: #c4c4c4;
}

/* line 24, ../../compass/sass/_nav.scss */
#buttons {
  margin-top: 35px;
}

/* line 27, ../../compass/sass/_nav.scss */
#logo {
  margin: 25px 0;
}
/* line 29, ../../compass/sass/_nav.scss */
#logo img {
  height: 50px;
}

/* line 1, ../../compass/sass/_base.scss */
body {
  background-color: #dbdbdb;
  height: 100%;
}

/* line 1, ../../compass/sass/_home.scss */
#better-way {
  margin-top: 150px;
  background-image: url("../images/coffee.jpg");
  background-size: cover;
  height: 300px;
}

/* line 8, ../../compass/sass/_home.scss */
#better {
  margin-top: 60px;
}

/* line 11, ../../compass/sass/_home.scss */
#how {
  margin-top: 25px;
}

/* line 14, ../../compass/sass/_home.scss */
#grower-row {
  background: #f2e3d5;
  height: 300px;
}

/* line 20, ../../compass/sass/_home.scss */
#grower img {
  width: 100%;
  height: auto;
  border: 15px solid #fff;
  transform: rotate(-18deg);
  margin-top: 54px;
}

/* line 28, ../../compass/sass/_home.scss */
#one {
  background-image: url("../images/CoffeeBags.jpg");
  background-size: cover;
  height: 300px;
  color: white;
  margin-top: 25px;
}
/* line 34, ../../compass/sass/_home.scss */
#one #one-text {
  margin-top: 60px;
}
/* line 36, ../../compass/sass/_home.scss */
#one #one-text p {
  margin-left: 30px;
}

/* line 42, ../../compass/sass/_home.scss */
#two {
  margin-top: 35px;
}
/* line 44, ../../compass/sass/_home.scss */
#two p {
  margin-left: 30px;
}

/* line 49, ../../compass/sass/_home.scss */
#three {
  height: 300px;
  background: black;
}
/* line 52, ../../compass/sass/_home.scss */
#three #three-text {
  color: white;
  margin-top: 70px;
}
/* line 55, ../../compass/sass/_home.scss */
#three #three-text p {
  margin-left: 30px;
}
/* line 59, ../../compass/sass/_home.scss */
#three #three-img img {
  height: 300px;
  width: 75%;
}

/* line 65, ../../compass/sass/_home.scss */
#get-started {
  margin-top: 25px;
}
/* line 67, ../../compass/sass/_home.scss */
#get-started button {
  background: #284741;
}

/* line 72, ../../compass/sass/_home.scss */
#two-arrow {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #433022;
  margin-left: 47.5%;
  position: absolute;
  bottom: 282px;
}

/* line 83, ../../compass/sass/_home.scss */
#three-arrow {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f2e3d5;
  margin-left: 47.5%;
  position: absolute;
  bottom: 301px;
}

/* line 94, ../../compass/sass/_home.scss */
#three-arrow2 {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid black;
  margin-left: 48.5%;
}

/* line 103, ../../compass/sass/_home.scss */
#additional-info {
  margin-top: 20px;
  margin-bottom: 150px;
}
/* line 106, ../../compass/sass/_home.scss */
#additional-info button {
  background-color: #c4c4c4;
  color: black;
  border: none;
}

/* line 1, ../../compass/sass/_register.scss */
#registration-wrapper {
  margin-top: 150px;
}

/* line 6, ../../compass/sass/_register.scss */
#registration-form button {
  width: 200px;
  background-color: #284741;
  color: white;
  margin-left: 15px;
}

/* line 1, ../../compass/sass/_login.scss */
#login-wrapper {
  margin-top: 150px;
  position: relative;
}
/* line 4, ../../compass/sass/_login.scss */
#login-wrapper .form-group {
  width: 100%;
}

/* line 10, ../../compass/sass/_login.scss */
#login-button {
  width: 200px;
  background-color: #284741;
  color: white;
  margin-left: 15px;
}

/* line 1, ../../compass/sass/_options.scss */
#options-nav {
  margin-top: 100px;
  position: relative;
  height: 70px;
  background-color: #c4c4c4;
}

/* line 10, ../../compass/sass/_options.scss */
.home {
  left: 0px;
  width: 65px;
  height: 60px;
  background: url("../images/menu-steps.png");
  background-position: 0px 0px;
  float: left;
}

/* line 19, ../../compass/sass/_options.scss */
#home p {
  float: right;
  margin-top: 25px;
  margin-right: 20px;
}

/* line 25, ../../compass/sass/_options.scss */
.options {
  left: 0px;
  width: 65px;
  height: 60px;
  background: url("../images/menu-steps-active.png");
  background-position: 0px -57px;
  float: left;
}

/* line 33, ../../compass/sass/_options.scss */
#option-icon p {
  float: right;
  margin-top: 25px;
}

/* line 38, ../../compass/sass/_options.scss */
.delivery {
  left: 0px;
  width: 70px;
  height: 60px;
  background: url("../images/menu-steps.png");
  background-position: 0px -117px;
  float: left;
}

/* line 46, ../../compass/sass/_options.scss */
#delivery p {
  float: right;
  margin-top: 25px;
}

/* line 51, ../../compass/sass/_options.scss */
.payment {
  left: 0px;
  width: 65px;
  height: 60px;
  background: url("../images/menu-steps.png");
  background-position: 0px -180px;
  float: left;
}

/* line 59, ../../compass/sass/_options.scss */
#payment p {
  float: right;
  margin-top: 25px;
}

/* line 64, ../../compass/sass/_options.scss */
#option1 {
  background-color: white;
  position: relative;
  float: right;
}

/* line 71, ../../compass/sass/_options.scss */
#option1 img {
  width: 100%;
}

/* line 76, ../../compass/sass/_options.scss */
#cups {
  margin-left: 50px;
}
/* line 78, ../../compass/sass/_options.scss */
#cups span {
  margin-left: 30px;
}

/* line 83, ../../compass/sass/_options.scss */
.price {
  margin-left: 70px;
}
/* line 85, ../../compass/sass/_options.scss */
.price span {
  margin-left: 30px;
}

/* line 90, ../../compass/sass/_options.scss */
.total {
  margin-left: 80px;
}
/* line 92, ../../compass/sass/_options.scss */
.total span {
  margin-left: 30px;
}

/* line 97, ../../compass/sass/_options.scss */
.grind {
  margin-left: 90px;
}
/* line 99, ../../compass/sass/_options.scss */
.grind .form-control {
  width: 65%;
  float: right;
  margin-top: -25px;
}

/* line 105, ../../compass/sass/_options.scss */
#solo-button, #group-button {
  margin-left: 75px;
  margin-top: 30px;
}
/* line 108, ../../compass/sass/_options.scss */
#solo-button button, #group-button button {
  width: 200px;
  background-color: #284741;
  color: white;
}

/* line 115, ../../compass/sass/_options.scss */
.shipping-info {
  margin-top: 25px;
  margin-bottom: 25px;
}

/* line 121, ../../compass/sass/_options.scss */
#option2 {
  background-color: white;
}

/* line 126, ../../compass/sass/_options.scss */
#option2 img {
  width: 100%;
}

/* line 130, ../../compass/sass/_options.scss */
#personalize {
  margin-top: 25px;
  margin-bottom: 50px;
}

/* line 135, ../../compass/sass/_options.scss */
#frequency {
  border: 1px solid black;
  margin-bottom: 25px;
}
/* line 138, ../../compass/sass/_options.scss */
#frequency img {
  margin-top: 50px;
  margin-bottom: 50px;
}
/* line 142, ../../compass/sass/_options.scss */
#frequency h2 {
  margin-top: 130px;
}

/* line 147, ../../compass/sass/_options.scss */
.form-control {
  width: 50%;
  margin-left: 120px;
  margin-bottom: 15px;
}

/* line 153, ../../compass/sass/_options.scss */
#quantity {
  border: 1px solid black;
  margin-bottom: 25px;
}
/* line 156, ../../compass/sass/_options.scss */
#quantity img {
  margin-top: 50px;
  margin-bottom: 50px;
}
/* line 160, ../../compass/sass/_options.scss */
#quantity h2 {
  margin-top: 130px;
}

/* line 165, ../../compass/sass/_options.scss */
#grind-type {
  border: 1px solid black;
  margin-bottom: 25px;
}
/* line 168, ../../compass/sass/_options.scss */
#grind-type img {
  margin-top: 50px;
  margin-bottom: 50px;
}
/* line 172, ../../compass/sass/_options.scss */
#grind-type h2 {
  margin-top: 130px;
}

/* line 177, ../../compass/sass/_options.scss */
#personal-submit {
  margin-bottom: 85px;
}
/* line 179, ../../compass/sass/_options.scss */
#personal-submit button {
  width: 20%;
  font-size: 25px;
  background-color: #284741;
  color: white;
}

/* line 1, ../../compass/sass/_delivery.scss */
#delivery-nav {
  margin-top: 100px;
  position: relative;
  height: 70px;
  background-color: #c4c4c4;
}

/* line 8, ../../compass/sass/_delivery.scss */
#delivery-home p {
  float: right;
  margin-top: 25px;
  margin-right: 20px;
}

/* line 14, ../../compass/sass/_delivery.scss */
#delivery-option-icon p {
  float: right;
  margin-top: 25px;
}

/* line 19, ../../compass/sass/_delivery.scss */
#delivery-option {
  left: 0px;
  width: 65px;
  height: 60px;
  background: url("../images/menu-steps.png");
  background-position: 0px -57px;
  float: left;
}

/* line 28, ../../compass/sass/_delivery.scss */
#delivery2 p {
  float: right;
  margin-top: 25px;
}

/* line 32, ../../compass/sass/_delivery.scss */
.delivery2 {
  left: 0px;
  width: 70px;
  height: 60px;
  background: url("../images/menu-steps-active.png");
  background-position: 0px -117px;
  float: left;
}

/* line 41, ../../compass/sass/_delivery.scss */
#delivery-payment p {
  float: right;
  margin-top: 25px;
}

/* line 45, ../../compass/sass/_delivery.scss */
#delivery-info {
  border: 1px solid black;
  margin-bottom: 100px;
}

/* line 50, ../../compass/sass/_delivery.scss */
#delivery-header {
  margin-bottom: 25px;
}

/* line 53, ../../compass/sass/_delivery.scss */
#name, #add1, #add2, #city {
  margin-left: 0px;
  width: 100%;
}

/* line 58, ../../compass/sass/_delivery.scss */
#add-p, #add2-p, #city-p {
  margin-top: -15px;
}

/* line 62, ../../compass/sass/_delivery.scss */
#state, #zip {
  margin-left: 0px;
}

/* line 66, ../../compass/sass/_delivery.scss */
#date-picker-2 {
  margin-left: 0px;
  width: 75%;
}

/* line 71, ../../compass/sass/_delivery.scss */
#delivery-button button {
  width: 200px;
  background-color: #284741;
  color: white;
  margin-left: 15px;
  margin-bottom: 50px;
  margin-top: 25px;
}

/* line 80, ../../compass/sass/_delivery.scss */
#date-picker-2-label {
  float: left;
}
/* line 82, ../../compass/sass/_delivery.scss */
#date-picker-2-label span {
  margin-left: -7px;
}

/* line 1, ../../compass/sass/_payments.scss */
#payments-nav {
  margin-top: 100px;
  position: relative;
  height: 70px;
  background-color: #c4c4c4;
}

/* line 7, ../../compass/sass/_payments.scss */
#payments-home p {
  float: right;
  margin-top: 25px;
  margin-right: 20px;
}

/* line 12, ../../compass/sass/_payments.scss */
#payments-option-icon p {
  float: right;
  margin-top: 25px;
}

/* line 16, ../../compass/sass/_payments.scss */
.payment2 {
  left: 0px;
  width: 65px;
  height: 60px;
  background: url("../images/menu-steps-active.png");
  background-position: 0px -180px;
  float: left;
}

/* line 24, ../../compass/sass/_payments.scss */
#payments-payment p {
  float: right;
  margin-top: 25px;
}

/* line 1, ../../compass/sass/_footer.scss */
.footer {
  height: 60px;
  background-color: #c4c4c4;
  margin-top: 25px;
  width: 100%;
}
/* line 8, ../../compass/sass/_footer.scss */
.footer img {
  height: 35px;
  margin-top: 5px;
}
