<div class="container-fluid">
	<div class="row">
		<div id="options-nav" class="col-sm-12 text-center">
			<ul id="menu" class="list-inline">
				<li id="home">
					<a href="/#/">
						<div class="home"></div>
						<p>1. HOME</p>
					</a>
				</li>

				<li id="option-icon">
					<a href="/#/options">
						<div class="options"></div>
						<p>2. OPTIONS</p>
					</a>
				</li>

				<li id="delivery">
					<a href="/#/delivery">
						<div class="delivery"></div>
						<p>3. DELIVERY</p>
					</a>
				</li>

				<li id="payment">
					<a href="/#/payment">
						<div class="payment"></div>
						<p>4. PAYMENT</p>
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 header text-center">
			<h2>Tell us what you want!!</h2>
			<p>Shipping is free and you can skip any week</p>
			<h1>{{username}}</h1>
		</div>
	</div>
</div>

<div class="row">
	<div id="options" class="col-sm-12">
		<div id="solo-option" class="col-sm-6">
			<div id="option1" class="col-sm-10 text-center">
				<h2>Individual Plan</h2>
				<p>For those who drink alone</p>
				<img src="/public/images/solodrinker.jpg">
				<div id="option1-details" class="text-left">
					<h3 class="cups">Cups per week:<span class="cups">14</span></h3>
					<h3 class="price">Price per cup:<span class="price">$.50</span></h3>
					<h3 class="total">Weekly total:<span class="total">$7.00</span></h3>
					<h3 class="grind">Grind type:
						<form role="form" ng-submit="optionsForm('individual')" id="options-form" name="grind" class="text-center">
							<select id="form1" class="form-control" ng-model="grind" ng-value="">
								<option></option>
								<option>Very Fine</option>
								<option>Fine</option>
								<option>Medium</option>
								<option>Coarse</option>
								<option>Very Coarse</option>
							</select>
							<div id="solo-button" class="button-holder">
								<button class="btn.btn-succes" type="submit">Submit</button>
							</div>
						</form>

					</h3>
				</div>
				<div class="shipping-info">
					<p>The shipping is always free.</p>
					<p>Skip any week.  Cancel any time.</p>
				</div>
			</div>

		</div>

		<div id="solo-option2" class="col-sm-6">
			<div id="option2" class="col-sm-10 text-center">
				<h2>Family Plan</h2>
				<p>For those who drink together</p>
				<img src="/public/images/coffeedrinkers.jpg">
				<div id="option2-details" class="text-left">
					<h3 class="cups">Cups per week:<span class="cups">40</span></h3>
					<h3 class="price">Price per cup:<span class="price">$.45</span></h3>
					<h3 class="total">Weekly total:<span class="total">$18.00</span></h3>
					<h3 class="grind">Grind type:
						<form role="form" ng-submit="optionsForm('family')" id="options-form2" name="grind2" class="text-center">
							<select id="form2" class="form-control" ng-model="grind" ng-value="">
								<option></option>
								<option>Very Fine</option>
								<option>Fine</option>
								<option>Medium</option>
								<option>Coarse</option>
								<option>Very Coarse</option>
							</select>
							<div id="group-button" class="button-holder">
								<button class="btn.btn-success" type="submit">Submit</button>
							</div>
						</form>

					</h3>
				</div>
				<div class="shipping-info">
					<p>The shipping is always free.</p>
					<p>Skip any week.  Cancel any time.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div id="personalize" class="col-sm-12 text-center">
		<h2>Prefer to customize your order?</h2>
		<p>No problem.  Just make your selections below.</p>
	</div>
</div>

<div class="row">
	<div class="col-sm-offset-1">
		<div id="frequency" class="col-sm-11">
			<div class="col-sm-5 text-center">
				<img src="public/images/calendar.png">
			</div>
			<div class="col-sm-5 text-center freq-text">
				<h2>1.  FREQUENCY</h2>
				<p>How often would you like us to send you your coffee?</p>
				<select class="form-control text-center" ng-model="frequency">
					<option></option>
				</select>
				<p>You can cancel anytime.  You can skip anytime.</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-offset-1">
		<div id="quantity" class="col-sm-11">
			<div class="col-sm-5 text-center">
				<img src="public/images/food-scale.png">
			</div>
			<div class="col-sm-5 text-center freq-text">
				<h2>2.  QUANTITY</h2>
				<p>How many pounds (increments of 25lbs) would you like each delivery?</p>
				<p>$20.00/lb</p>
				<select class="form-control text-center" ng-model="quantity">
					<option></option>
				</select>
				<p>You can cancel anytime.  You can skip anytime.</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-offset-1">
		<div id="grind-type" class="col-sm-11">
			<div class="col-sm-5 text-center">
				<img src="public/images/beans.png">
			</div>
			<div class="col-sm-5 text-center freq-text">
				<h2>3.  GRIND TYPE</h2>
				<p>How do you like your grinds?</p>
				<select class="form-control text-center" ng-model="type">
					<option></option>
						<option>Very Fine</option>
						<option>Fine</option>
						<option>Medium</option>
						<option>Coarse</option>
						<option>Very Coarse</option>
				</select>
				<p>You can cancel anytime.  You can skip anytime.</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div id="personal-submit" class="col-sm-12 text-center">
		<button class="btn.btn-succes" type="submit">Submit</button>
	</div>
</div>
